In [7]:
from sqlalchemy import create_engine 
import pymysql.cursors
import os
import pandas as pd

In [2]:
pw = os.getenv('MySQL_Pass')

In [3]:
connection_string = 'mysql+pymysql://root:' + pw + '@localhost:3306/'
engine = create_engine(connection_string)

In [4]:
sql1 = """
select * from fpl.fbref
"""

In [5]:
sql2 = """
select * from fpl.fpl
"""

In [9]:
fbref_df = pd.read_sql_query(sql1, engine)
fbref_df.head(100)

,Date,kickoff_date,Day,Round,Venue,Result,Squad,Squad_id,Opponent,Opponent_id,...,Att.3,Cmp%.3,xA,KP,1/3,PPA,CrsPA,id,player,season
0,2017-08-12,2017-08-12,Sat,Matchweek 1,Away,D 3–3,Liverpool,1,Watford,12,...,1.0,100.0,0.0,0.0,2.0,0.0,0.0,234,1234,2017
1,2017-08-19,2017-08-19,Sat,Matchweek 2,Home,W 1–0,Liverpool,1,Crystal Palace,3,...,2.0,50.0,0.1,1.0,0.0,1.0,0.0,234,1234,2017
2,2017-08-27,2017-08-27,Sun,Matchweek 3,Home,W 4–0,Liverpool,1,Arsenal,14,...,1.0,100.0,0.5,1.0,0.0,1.0,1.0,234,1234,2017
3,2017-09-16,2017-09-16,Sat,Matchweek 5,Home,D 1–1,Liverpool,1,Burnley,13,...,3.0,33.3,0.1,3.0,3.0,1.0,0.0,234,1234,2017
4,2017-09-23,2017-09-23,Sat,Matchweek 6,Away,W 3–2,Liverpool,1,Leicester City,9,...,1.0,0.0,0.0,1.0,1.0,2.0,0.0,234,1234,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2018-05-05,2018-05-05,Sat,Matchweek 37,Away,W 2–1,Crystal Palace,3,Stoke City,7,...,7.0,57.1,0.0,0.0,2.0,0.0,0.0,124,1124,2017
96,2018-05-13,2018-05-13,Sun,Matchweek 38,Home,W 2–0,Crystal Palace,3,West Brom,18,...,4.0,75.0,0.4,2.0,4.0,2.0,0.0,124,1124,2017
97,2017-11-28,2017-11-28,Tue,Matchweek 14,Away,D 2–2,Newcastle Utd,4,West Brom,18,...,2.0,100.0,0.0,0.0,2.0,1.0,1.0,467,1467,2017
98,2017-12-27,2017-12-27,Wed,Matchweek 20,Home,L 0–1,Newcastle Utd,4,Manchester City,2,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,467,1467,2017
99,2017-08-26,2017-08-26,Sat,Matchweek 3,Away,W 2–0,Swansea City,5,Crystal Palace,3,...,3.0,66.7,0.1,1.0,0.0,1.0,1.0,374,1374,2017

In [13]:
fpl_df = pd.read_sql_query(sql2, engine)
fpl_df.head(100)

,season,name,assists,bonus,bps,clean_sheets,creativity,element,fixture,kickoff_date,...,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards,GW,id,player
0,2017,Aaron_Cresswell,0,0,3,0,0.6,443,9,None,...,0,0,0,0,50,0,0,1,443.0,1443.0
1,2017,Aaron_Lennon,0,0,0,0,0.0,153,5,None,...,0,0,0,0,55,1,0,1,153.0,1153.0
2,2017,Aaron_Mooy,1,0,22,1,46.9,172,4,None,...,6,0,0,0,55,0,0,1,172.0,1172.0
3,2017,Aaron_Ramsey,0,0,16,0,11.2,18,1,None,...,6,0,0,0,70,1,0,1,18.0,1018.0
4,2017,Abdoulaye_Doucouré,0,2,36,0,25.2,414,7,None,...,9,0,0,0,50,1,0,1,414.0,1414.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2017,Connor_Wickham,0,0,0,0,0.0,133,4,None,...,0,0,0,0,55,1,0,1,133.0,1133.0
96,2017,Costel_Pantilimon,0,0,0,0,0.0,396,7,None,...,0,0,0,0,45,1,0,1,396.0,1396.0
97,2017,Craig_Cathcart,0,0,0,0,0.0,399,7,None,...,0,0,0,0,45,1,0,1,399.0,1399.0
98,2017,Craig_Dawson,0,0,23,1,0.0,424,8,None,...,6,0,0,0,50,1,0,1,424.0,1424.0
99,2017,Cuco_Martina,0,0,4,0,19.8,464,5,None,...,0,0,0,0,45,1,1,1,464.0,1464.0

In [14]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from math import sqrt